// =============================================================================
//
// Name:          List-ui
//
// Description:   Blocky list items with a keyline separator out of a `ul` or
//                `ol`.
//
// Block:         `o-list-ui`
//
// Element:       `o-list-ui__item`
//
// Modifiers:     `o-list-ui--tiny`
//                `o-list-ui--small`
//                `o-list-ui--large`
//                `o-list-ui--huge`
//
// Markup:
//
// <ul class="o-list-ui">
//     <li class="o-list-ui__item">...</li>
//     <li class="o-list-ui__item">...</li>
//     <li class="o-list-ui__item">...</li>
// </ul>
//
// =============================================================================





// Variables
// =============================================================================

// Predefine the variables below in order to alter and enable specific features.

$tree-list-ui-namespace:        $tree-namespace !default;

$tree-list-ui-padding:          $tree-base-spacing-unit !default;
$tree-list-ui-padding--tiny:      quarter($tree-list-ui-padding) !default;
$tree-list-ui-padding--small:       halve($tree-list-ui-padding) !default;
$tree-list-ui-padding--large:      double($tree-list-ui-padding) !default;
$tree-list-ui-padding--huge:    quadruple($tree-list-ui-padding) !default;

$tree-list-ui-border-width:         1px !default;
$tree-list-ui-border-style:       solid !default;
$tree-list-ui-border-color:     #edece4 !default;

$tree-enable-list-ui--tiny:     false !default;
$tree-enable-list-ui--small:    false !default;
$tree-enable-list-ui--large:    false !default;
$tree-enable-list-ui--huge:     false !default;





// =============================================================================
// Block: `o-list-ui`
// =============================================================================

.#{$tree-list-ui-namespace}o-list-ui,
    .#{$tree-list-ui-namespace}o-list-ui__item {
        border: 0 $tree-list-ui-border-style $tree-list-ui-border-color;
    }

.#{$tree-list-ui-namespace}o-list-ui {
    margin:  0;
    padding: 0;
    list-style: none;
    border-top-width: $tree-list-ui-border-width;
}

    .#{$tree-list-ui-namespace}o-list-ui__item {
        padding: $tree-list-ui-padding;
        border-bottom-width: $tree-list-ui-border-width;
    }





@if ($tree-enable-list-ui--tiny == true) {

    // Modifier: `o-list-ui--tiny`
    // =========================================================================

    .#{$tree-list-ui-namespace}o-list-ui--tiny {

        > .#{$tree-list-ui-namespace}o-list-ui__item {
            padding: $tree-list-ui-padding--tiny;
        }

    }

}

@if ($tree-enable-list-ui--small == true) {

    // Modifier: `o-list-ui--small`
    // =========================================================================

    .#{$tree-list-ui-namespace}o-list-ui--small {

        > .#{$tree-list-ui-namespace}o-list-ui__item {
            padding: $tree-list-ui-padding--small;
        }

    }

}

@if ($tree-enable-list-ui--large == true) {

    // Modifier: `o-list-ui--large`
    // =========================================================================

    .#{$tree-list-ui-namespace}o-list-ui--large {

        > .#{$tree-list-ui-namespace}o-list-ui__item {
            padding: $tree-list-ui-padding--large;
        }

    }

}

@if ($tree-enable-list-ui--huge == true) {

    // Modifier: `o-list-ui--huge`
    // =========================================================================

    .#{$tree-list-ui-namespace}o-list-ui--huge {

        > .#{$tree-list-ui-namespace}o-list-ui__item {
            padding: $tree-list-ui-padding--huge;
        }

    }

}
